.listWithDescription p {
    /* margin: 0.25em; */
    margin-bottom: 0em;
}

.listWithDescription {
    margin-bottom: 0em;
}

.listWithDescription description {
    margin-top: 0em;
    margin-left: 10px;
    font-size: .85em;
    line-height: 1.3;
}

.container {
    display: flex;
}

.leftbox {
    max-width: 15%;
    width: 100px;
    margin-right: 20px
}

.leftbox img {
    width: 100%;
}

.rightbox {
    flex: 1
}

.small {
    font-size: .85em !important;
    line-height: 1.3 !important;
}

.experience-header {
    font-size: 1.1em;
    font-weight: 600;
    display: inline;
}

.block-line {
    border-left: 2px solid rgb(161, 191, 255);
    padding-left: 7px;
    margin-left: 2px;
}

summary {
    color: rgb(40, 148, 255);
}